<form action="https://login.microsoftonline.com/common/oauth2/v2.0/authorize" method="GET">
  <input type="hidden" name="client_id" value="{{clientID}}">
  <input type="hidden" name="scope" value="offline_access Files.Read">
  <input type="hidden" name="response_type" value="code">
  <input type="hidden" name="redirect_uri" value="http://localhost:8086/token">
  <button type="submit" id="login" style="display: none" name="login">Login to OneDrive</button>
</form>
<script>
  document.getElementById('login').click();
</script>
