<form action="https://login.microsoftonline.com/common/oauth2/v2.0/authorize" method="GET">
  <input type="hidden" name="client_id" value="8bd169cf-338d-4d2e-8e16-e97a44bbfb0b">
  <input type="hidden" name="scope" value="offline_access Files.Read">
  <input type="hidden" name="response_type" value="code">
  <input type="hidden" name="redirect_uri" value="http://localhost:8086/token">
  <button type="submit" name="login">Login to OneDrive</button>
</form>
